################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs
/src/api/bin/Debug/net8.0
/src/application/bin/Debug/net8.0
/src/domain/bin/Debug/net8.0
/src/infrastructure/bin/Debug/net8.0
/src/infrastructure/obj
/src/domain/obj
/src/application/obj
